#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=
Icon=
Exec=lxterminal
frame_extra=
prevent inhibate=false
StartupWMClass=Lxterminal
Terminal=false
Path=
ShowOnViewport=0
Order=2
Icon Type=0
Type=Application
Origin=/usr/share/applications/lxterminal.desktop
