#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=Krita
Icon=krita
Exec=krita %F
frame_extra=
prevent inhibate=false
StartupWMClass=krita
Terminal=false
Path=
ShowOnViewport=0
Order=9
Icon Type=0
Type=Application
Origin=org.kde.krita.desktop
