#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=Sober
Icon=org.vinegarhq.Sober
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=sober --file-forwarding org.vinegarhq.Sober -- @@u %u @@
frame_extra=
prevent inhibate=false
StartupWMClass=sober
Terminal=false
Path=
ShowOnViewport=0
Order=12
Icon Type=0
Type=Application
Origin=org.vinegarhq.Sober.desktop
