#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=Dorion
Icon=Dorion
Exec=Dorion
frame_extra=
prevent inhibate=false
StartupWMClass=Dorion
Terminal=false
Path=
ShowOnViewport=0
Order=13
Icon Type=0
Type=Application
Origin=Dorion.desktop
