#3.6.2

[Desktop Entry]
Container=_MainDock_
Name=Dissent
Icon=so.libdb.dissent
Exec=dissent
Terminal=false
Order=5
Icon Type=0
Type=Application
Origin=so.libdb.dissent.desktop
