#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=
Icon=/usr/share/icons/Qogir/scalable/places/folder.svg

Exec=thunar
frame_extra=
prevent inhibate=false
StartupWMClass=Thunar
Terminal=false
Path=
ShowOnViewport=0
Order=3
Icon Type=0
Type=Application
Origin=/usr/share/applications/thunar.desktop
