#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=GitHub Desktop
Icon=github-desktop
Exec=/usr/sbin/github-desktop %U
frame_extra=
prevent inhibate=false
StartupWMClass=github-desktop
Terminal=false
Path=
ShowOnViewport=0
Order=7
Icon Type=0
Type=Application
Origin=github-desktop.desktop
