#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=VLC media player
Icon=vlc
Exec=vlc %U
frame_extra=
prevent inhibate=false
StartupWMClass=vlc
Terminal=false
Path=
ShowOnViewport=0
Order=8
Icon Type=0
Type=Application
Origin=vlc.desktop
