#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=GNU Image Manipulation Program
Icon=gimp
Exec=gimp-3.2 %U
frame_extra=
prevent inhibate=false
StartupWMClass=gimp
Terminal=false
Path=
ShowOnViewport=0
Order=10
Icon Type=0
Type=Application
Origin=gimp.desktop
