#3.6.2

[Desktop Entry]
frame_maininfo=
Container=_MainDock_
sep_display=
Name=LibreOffice
Icon=libreoffice-startcenter
Exec=libreoffice %U
frame_extra=
prevent inhibate=false
StartupWMClass=libreoffice
Terminal=false
Path=
ShowOnViewport=0
Order=11
Icon Type=0
Type=Application
Origin=libreoffice-startcenter.desktop
